body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color: white;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 640px) {
    .nav-content {
        flex-direction: row;
        justify-content: space-between;
    }
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

h1 a {
    color: crimson;
    font-family: monospace;
    text-decoration: none;
    transition: opacity 0.3s;
}

.nav-item {
    color: crimson;
    font-family: monospace;
    text-decoration: none;
    transition: opacity 0.3s;
}

h1 a:hover {
    opacity: 0.75;
}

.nav-item a {
    font-size: 1rem;
    font-weight: bold;
    color: crimson;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    transition: opacity 0.3s, text-decoration 0.3s;
}

.nav-item a:hover {
    opacity: 0.75;
    text-decoration: underline;
}

@media (min-width: 640px) {
    h1 {
        margin-bottom: 0;
    }
}

ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    list-style-type: none;
    justify-content: center;
}

li {
    margin: 0 0.75rem;
}

a {
    color: crimson;
    font-family: monospace;
    text-decoration: none;
    transition: opacity 0.3s;
}

a:hover {
    opacity: 0.75;
}

.X-social-icon img, .instagram-icon img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2, p{
    color: black;
    font-family: monospace;
    text-align: justify;
    width: 60%;
    max-width: 800px;
}

h2{
    margin-top: 3%;
    border: ;
}

.quotes-list {
    display: block;
    list-style-type: disc;
    padding-left: 1.5rem;
    width: 60%;
    max-width: 800px;
}

.quotes-list li {
    margin-bottom: 1rem;
    font-style: italic;
}